:root {
    --primary-color: #EE4D2D;
    
    --while-color : #fff;
    --black-color: #000;
    --text-color: #333;

}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* viết 62,5% có nghĩa là cứ 1 rem thì bằng 10px, còn nếu bằng 100% thì cứ 1rem bằng 16px */
    line-height: 1.6rem; /* chiều cao của dòng chữ */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; /* để căn giữa khối này khi nằm trong một cái khối khác */
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity:0 ;
    }
    to {
        opacity: 1;
    }
}
